%h1 Commercial Services
%ul
	%li Troubleshooting non working circuits and repair
	%li Outlet additions
	%li Lighting installations and additions
	%li Surge protection
	%li Electrical service upgrades and installations
	%li Panel checks and upgrades
	%li Security lighting
	%li New construction
	
%p 
	View our 
	=link "residential"
	services, or 
	=link "contact us", "contact.html"
	to get started