=img "communications.jpg", :class=>:postcard
%h1 Contact

%p{:style=>"padding-top:3em; font-size:24px"}512.563.6611
%p Or.... Fill out the form below and we'll contact you
.clear
.contact{:style=>"height:900px"}
	%p
	<script type="text/javascript" src="http://www.formstack.com/forms/js.php?1031304-VZqx3b4lnN-v2"></script><noscript><a href="http://www.formstack.com/forms/?1031304-VZqx3b4lnN" title="Online Form">Online Form - Green Light</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com/" title="Web Form Maker">Formstack - Web Form Maker</a></div>
