%h1 Electrical Remodel and Service Specialist
%p Green Light Electrical Services is a locally owned and operated company serving the Greater Austin area including Lakeway, Dripping Springs, and Bee Cave, providing commercial and residential electrical service. 
%p We offer friendly, professional, personalized service to give you an enjoyable experience! In addition, we provide competitive rates in a consistent and dependable manner that promotes trust and loyalty.

%a.prev.browse.left
.scrollable
	.items
		%div
			%h2 Testimonials
			=img "power.png"
			%h3 "He shows up on time and knows his 'stuff'.  My clients love him."
			%p{:style=>"padding-top:1em", :class=>"right"}
				=link "More Testimonials", "testimonials.html", :class=>:button
		%div
			%h2 Services
			=img "lightbulb.png"
			%p Wether you need an outlet repaired, ceiling fan installed, or have a whole new addition, Green Light Electrical is your company.
			
			%p With fully licensed technicians we can have most problems or jobs bid or resolved quickly.
			%p{:style=>"padding-top:1em", :class=>"right"}
				=link "Email Us", "contact.html", :class=>:button
		%div 
			%h2 Contact
			=img "phone.png"
			%h3 Our phone number is 512.563.6611
			%p{:style=>"padding-top:1em", :class=>"right"}
				=link "Email Us", "contact.html", :class=>:button
%a.next.browse.right

		
- @footer = capture_haml do 
	:javascript
		$(document).ready(function() {
			$(".scrollable").scrollable();
		
			$(".slidetabs").tabs(".images > div", {

				// enable "cross-fading" effect
				effect: 'fade',
				fadeOutSpeed: "slow",

				// start from the beginning after the last tab
				rotate: true,
				autoplay: true

			// use the slideshow plugin. It accepts its own configuration
			}).slideshow();
		});