%h1 Residential Services

%ul
	%li Troubleshooting non working circuits
	%li Ceiling fan installations
	%li Outlet additions
	%li Lighting additions, from recess to new fixtures and chandoliers
	%li Electrical service rebuild and replacements
	%li Outdoor lighting
	%li Aluminum wiring replacement and repair
	%li New construction

%p 
	View our 
	=link "commercial"
	services, or 
	=link "contact us", "contact.html"
	to get started