%h1 Residential Services

%ul
	%li Troubleshooting non working circuits
	%li Ceiling fan installations
	%li Outlet additions
	%li Lighting additions, from recess to new fixtures and chandoliers
	%li Electrical service rebuild and replacements
	%li Outdoor lighting
	%li Aluminum wiring replacement and repair
	%li New construction
	
%h6
	Some recent photos from a
	=link "testimonial"
	
	.images
		%a{:href=>'images/jones-1-large.jpg', :rel=>"prettyPhoto[gallery1]"}=img "jones-1-thumb.jpg", :alt=>"Indirect Lighting"
		%a{:href=>'images/jones-2-large.jpg', :rel=>"prettyPhoto[gallery1]"}=img "jones-2-thumb.jpg", :alt=>"Under Cabinet Lighting"
		%a{:href=>'images/jones-3-large.jpg', :rel=>"prettyPhoto[gallery1]"}=img "jones-3-thumb.jpg", :alt=>"Outdoor Lighting"
	

%p 
	View our 
	=link "commercial"
	services, or 
	=link "contact us", "contact.html"
	to get started