!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
		%title
		%meta{:content => "", :name => "keywords"}/
		%meta{:content => "", :name => "description"}/
		%link{:href=>"http://flowplayer.org/tools/css/scrollable-buttons.css", :media=>:screen, :rel=>:stylesheet, :type=>"text/css"}
		%link{:href=>"http://fonts.googleapis.com/css?family=Puritan&subset=latin", :media=>:screen, :rel=>:stylesheet, :type=>"text/css"}
		%link{:href=>"http://fonts.googleapis.com/css?family=Inconsolata&subset=latin", :media=>:screen, :rel=>:stylesheet, :type=>"text/css"}
		= stylesheets :reset, :text, :grid, :default, :application, :buttons,:scrollable, :media => :screen
		= javascripts "http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"
	%body
		.container_16
			.grid_1.alpha
				&nbsp;
			.grid_14
				#header
					.grid_7.alpha
						=link img("GreenlightElectricalServices.png"), "/"
					.grid_7.omega
						
				.clear
				#content
					#navbar
						%ul#menu
							%li
								%a{:href=>"/", :class=>current_page == "/index.html" ? 'current' : ''}Home
							%li
								%a{:href=>"testimonials.html", :class=>current_page == "/testimonials.html" ? 'current' : ''}Testimonials
							%li
								%a{:href=>"contact.html", :class=>current_page == "/contact.html" ? 'current' : ''}Contact
							%li.right.text
								TECL # 27607
					#main
						=yield
					.clear
					.center.contact_information
						Contact Information
				
			.grid_2.omega
		-if @footer
			=@footer 