!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
		%title=page_title(current_page)
		%link{:href=>"http://flowplayer.org/tools/css/scrollable-buttons.css", :media=>:screen, :rel=>:stylesheet, :type=>"text/css"}
		%link{:href=>"http://fonts.googleapis.com/css?family=Molengo&subset=latin", :media=>:screen, :rel=>:stylesheet, :type=>"text/css"}
		= stylesheets :reset, :text, :grid, :default, :application, :buttons,:scrollable, :prettyPhoto, :media => :screen
		= javascripts "http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"
		= javascripts "jquery.prettyPhoto"
	%body
		.container_16
			.grid_1.alpha
				&nbsp;
			.grid_14
				#header
					.grid_7.alpha
						
					.grid_7.omega
						
				.clear
				#content
					.header_logo
						=link img("logo.png"), "/"
						/%iframe{:src=>"http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgreenlight.comalproductions.com%2F&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21", :scrolling=>:no, :frameborder=>0, :style=>"border:none; overflow:hidden; width:75px; height:21px;margin-top:90px;margin-right:4px;float:right", :allowTransparency=>"true"}
						=link img("facebook.png", :height=>"40px", :style=>"float:right; margin-top:65px; margin-right:10px"), "http://www.facebook.com/pages/Green-Light-Electrical-Services/136121719769759"
						.clear
					#navbar
						%ul#menu
							%li
								%a{:href=>"/", :class=>current_page == "/index.html" ? 'current' : ''}Home
							%li
								%a{:href=>"commercial.html", :class=>current_page == "/commercial.html" ? 'current' : ''}Commercial
							%li
								%a{:href=>"residential.html", :class=>current_page == "/residential.html" ? 'current' : ''}Residential
							%li
								%a{:href=>"testimonials.html", :class=>current_page == "/testimonials.html" ? 'current' : ''}Testimonials
							%li
								%a{:href=>"contact.html", :class=>current_page == "/contact.html" ? 'current' : ''}Contact
							%li.right.text
								TECL # 27607
					#main
						=yield
					.clear
					.center.contact_information
						512.563.6611 or
						=link "Contact"
				
			.grid_2.omega
		-if @footer
			=@footer 
		:javascript
			$(document).ready(function(){
				$("a[rel^='prettyPhoto']").prettyPhoto();
			});
		